name: Deploy schematic-vue

on:
  push:
    tags:
      - 'schematic-vue@*'
      - '!schematic-vue@*-rc*'
  workflow_dispatch:

jobs:
  lint_test:
    name: Lint and Test
    uses: ./.github/workflows/lint_test.yml
    with:
      package: schematic-vue
      working_dir: vue

  publish:
    name: NPM Publish
    runs-on: runs-on=${{ github.run_id }}/runner=4cpu-linux-x64/extras=s3-cache
    permissions:
      packages: write
      contents: read
    needs: [lint_test]
    steps:
      - uses: runs-on/action@v2.0.3
      - uses: actions/checkout@v6
      - name: Set Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Publish schematic-vue
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: TAG="${{ github.ref_name }}" ./scripts/publish-package.sh
