name: Pull request - schematic-vue

on:
  pull_request:
    paths:
      - vue/**
      - .github/workflows/**

jobs:
  build:
    name: Build
    runs-on: runs-on=${{ github.run_id }}/runner=4cpu-linux-x64/extras=s3-cache
    steps:
      - uses: runs-on/action@v2.0.3
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Yarn install
        working-directory: ./vue
        run: yarn install
      - name: Build
        working-directory: ./vue
        run: yarn build

  lint:
    name: Lint
    runs-on: runs-on=${{ github.run_id }}/runner=4cpu-linux-x64/extras=s3-cache
    steps:
      - uses: runs-on/action@v2.0.3
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Yarn install
        working-directory: ./vue
        run: yarn install
      - name: Lint
        working-directory: ./vue
        run: yarn lint

  test:
    name: Test
    runs-on: runs-on=${{ github.run_id }}/runner=4cpu-linux-x64/extras=s3-cache
    steps:
      - uses: runs-on/action@v2.0.3
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Yarn install
        working-directory: ./vue
        run: yarn install
      - name: Test
        working-directory: ./vue
        run: yarn test
